RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} (Googlebot|Bingbot|Baiduspider|) [NC]
RewriteRule .* - [F,L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]